# gateway
server:
  port: 8888

spring:
  profiles:
    active: prod
    group:
      local:
        - common
      prod:
        - common

---
spring:
  config:
    activate:
      on-profile: common
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${COMMON_SERVER}
          predicates:
            - Path=/auth/**
        - id: common-service
          uri: ${COMMON_SERVER}
          predicates:
            - Path=/**
          filters:
            - AuthorizationHeaderFilter

        - id: judge-service
          uri: ${JUDGE_SERVER}
          predicates:
            - Path=/judge

        - id: chat-service
          uri: ${CHATTING_SERVER}
          predicates:
            - Path=/chat/*
          filters:
            - AuthorizationHeaderFilter

        - id: webrtc-server
          uri: ${CHATTING_SERVER}
          predicates:
            - Path=/openvidu/*
          filters:
            - AuthorizationHeaderFilter

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
jwt:
  access-key: ${JWT_SECRET_KEY}

---
spring:
  config:
    activate:
      on-profile: local
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins: "http://localhost"
            allow-credentials: true
            allowedHeaders: "*"
            allowedMethods:
              - PUT
              - GET
              - POST
              - PATCH
              - DELETE
              - OPTIONS

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
---
spring:
  config:
    activate:
      on-profile: prod
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          "[/**]":
            allowedOriginPatterns: "*"
            allow-credentials: true
            allowedHeaders: "*"
            allowedMethods:
              - PUT
              - GET
              - POST
              - PATCH
              - DELETE
              - OPTIONS

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVER}

---

