@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

#loginStatus {
  display: inline;
  text-align: center;
  align-items: center;
}
#siteButton {
  display: inline;
  text-align: center;
  align-items: center;
  color: white;
}
#userDataText {
  display: none;
  color: white;
}

label {
  margin-top: 7px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
  transition: box-shadow 0.3s ease;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: #717bbc;
  border-color: #717bbc;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}

[type="checkbox"]:disabled {
  border-color: lightgray;
  opacity: 0.7;
}

[type="checkbox"]:disabled:before {
  background-color: lightgray;
}

/* [type="checkbox"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
} */

/* [type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid tomato;
} */

[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 2px 2px #c8cce8;
}

/* Global CSS */
body {
  font-family: "TheJamsil5Bold";
  height: 100px !important;
  width: 200px !important;
  background-image: url(back.png);
  background-size: 100% auto;
  background-repeat: no-repeat;

  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#loginStatus {
  white-space: pre-line;
}

#siteButton {
  font-family: "TheJamsil5Bold";
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #717bbc;
  color: white;
  width: 80%;
  height: 30px;
  border: none;
  box-shadow: 0 0 0 none;
  transition: box-shadow 0.3s ease;
}
#siteButton:hover {
  box-shadow: 0 0 2px 2px #c8cce8;
}
